<h2 mat-dialog-title>{{title}}</h2>

<form class="mat-dialog-wrapper" [formGroup]="formGroup" (ngSubmit)="changePassword()" novalidate>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="旧密码" formControlName="oldPassword" />
      <mat-error *ngIf="formGroup.get('oldPassword').invalid">
        旧密码不能为空
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="新密码" formControlName="newPassword" />
      <mat-error *ngIf="formGroup.get('newPassword').invalid">
        新密码不能为空
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="确认新密码" formControlName="confirmPassword" />
      <mat-error *ngIf="formGroup.get('confirmPassword').invalid">
        两次输入密码不一样
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>取消</button>
    <button mat-raised-button type="submit" class="btn primary" [disabled]="formGroup.invalid">确定</button>
  </mat-dialog-actions>
</form>
