<mat-card>
  <mat-grid-list cols="12" rowHeight="70px">
    <mat-grid-tile [colspan]="2">
      <mat-form-field>
        <input matInput placeholder="应用名称" [(ngModel)]="params.name">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="8">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2">
      <button mat-raised-button (click)="queryList(0)" class="btn primary">检索</button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card>
  <mat-card-title>
    <button mat-raised-button (click)="showDetail(null)">新增</button>
  </mat-card-title>

  <mat-table [dataSource]="dataSource" table-height-auto>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="appId">
      <mat-header-cell *matHeaderCellDef>应用ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.appId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="appName">
      <mat-header-cell *matHeaderCellDef>应用名称</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="orgName">
      <mat-header-cell *matHeaderCellDef>部门名称</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.orgName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ownerName">
      <mat-header-cell *matHeaderCellDef>所属人</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.ownerName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="handle">
      <mat-header-cell *matHeaderCellDef>操作</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="showDetail(row.id)"><span matTooltip="编辑"><i class="fa fa-edit"></i></span></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [length]="totalRecords" [pageSize]="20" [pageSizeOptions]="[20, 50, 100]" (page)="queryList($event.pageIndex)"></mat-paginator>
</mat-card>
